<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">New store</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-4 text-center">
    <%= render 'form' %>
    <%= link_to 'Back', stores_path %>
  </div>
</div>
