<div class="row"> 
  <div class="col-md-12 text-center">
    <h1>All Stores!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-center">
    <% @stores.each do |store| %>
      <h3 class="text-center"><%= link_to store.name, root_url(subdomain: store.subdomain) %></h3>
   <% end %>
  </div>
</div>