<div class="row"> 
  <div class="col-md-12 text-center">
    <h1>All Stores!</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-center">
    <% @owners.each do |owner| %>
      <h3 class="text-center"><%= link_to owner.name, root_url(subdomain: owner.subdomain) %></h3>
   <% end %>
  </div>
</div>