<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Your Order Form</h3>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-center">
    <%= render 'form' %>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="text-center"><%= link_to 'Back', orders_path %></p>
    <br>
  </div>
</div>

