<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">Your Cart</h1>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <ul>
    <% @cart.line_items.each do |item| %>
    <li>
      <%= item.product.title %>
    </li>
    <% end %>
  </ul>
  </div>
</div>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
