body {
  margin:2em 2em 2em 2em;
}

.button-line {
  display: block;
}

.col-center {
  float: none;
  margin: 0 auto;
}

.list_item_odd {
  background-color: #a6a6a6;
}

tr {
  border: 1px solid #8a8a8a;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #428bca;
}

.nav > li > a, .nav > li > a:focus {
  background-color: #9EDBF5;
}

#side-nav {
  border: 1px solid #05222E;
  border-radius: 4px;
  padding: 1px 1px 1px 1px;
  box-shadow: 3px 1px 2px #888888;
}

#add_product_button {
  background-color: #3276b1;
}

#add_product_button:hover {
  color: #ffffff;
  background-color: #9EDBF5;
  border-color: #285e8e;
}

#products .entry form, #products form div {
  display: inline;
}

.no-point {
  cursor: default;
}

#side-cart h3 {
  border-bottom: 1px solid #05222E;
}

#side-cart .btn-xs {
  margin-bottom: 2px;
}

#products-row {
  margin: 0 0 1em 0;
}

/*a:visited {
  color: #ffffff !important;
}*/

/*.entry {
  border: 1px solid blue;
  border-radius: 4px;
}*/